/* Fonts */
@font-face {
    font-family: 'Square One';
    src: url('../fonts/SquareOne.woff2') format('woff2'),
        url('../fonts/SquareOne.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Square One';
    src: url('../fonts/SquareOne-Bold.woff2') format('woff2'),
        url('../fonts/SquareOne-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.woff2') format('woff2'),
        url('../fonts/Roboto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    --var-name1: #003A6B;
    --var-name2: #2C5D87;
    --var-name3: #5880a2;
    --var-name4: #83A3BE;
    --var-name5: #AFC6D9;
    --var-name6: #DBE9F5;
  }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

body {
    font-family: 'Roboto';
    font-style: normal;
}

h1 {
    font-family: 'Square One', sans-serif;
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
    color: var(--var-name3);
}

.accueil h2 {
    padding: 10px;
    font-size : clamp(0.5rem, 16px, 4rem);
    text-align: center;
    width: 100%;
}

.accueil .container {
    width: 100%;
}

.accueil img {
    padding : 20px 50px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.accueil p:last-child {
    background-color: #AFC6D9;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
}

.box-photo {
    width : 100%;
    height : 50px;
    background-color: blue;

}

.equipe {
    display: grid;
    grid-template-columns: 0.5fr 2fr;
    gap: 15px;
}

.description {
    margin: 20px 0;
    text-align:justify;
    color: #444544;
    font-size: 8px;
}