/* Fonts */
@font-face {
    font-family: 'Square One';
    src: url('../fonts/SquareOne.woff2') format('woff2'),
        url('../fonts/SquareOne.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Square One';
    src: url('../fonts/SquareOne-Bold.woff2') format('woff2'),
        url('../fonts/SquareOne-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.woff2') format('woff2'),
        url('../fonts/Roboto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    --var-name1: #003A6B;
    --var-name2: #2C5D87;
    --var-name3: #5880a2;
    --var-name4: #83A3BE;
    --var-name5: #AFC6D9;
    --var-name6: #DBE9F5;
  }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto';
    font-style: normal;
}

h1 {
    font-family: 'Square One', sans-serif;
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
    color: var(--var-name3);
}

@media screen and (max-width: 575.98px) {

    .container {
        width: 100%;
        margin: 0 auto;
        padding: 0 15px;
    }

    h1 {
        font-size: 3rem;
    }
    
    .presentation {
        display: flex; 
        justify-content: space-around;
        margin-top: 1rem;
    }

    .easy-photo {
        width: 125px;
        height: 125px;
    }

    .presentation > h2 {
        color: var(--var-name4);
    }

    .presentation-text {
        margin: 1rem;
        padding: 0.5rem;
        width: 99%; 
        height: 200px;
        overflow: scroll;
        overflow-x: hidden;
        color: var(--var-name1);
    }
    
    .photo-team {
        display: flex; 
        justify-content: space-around;
    }
}

@media screen and (min-width: 575.99px) and (max-width: 767.98px) {
}

@media screen and (min-width: 767.99px) and (max-width: 991.98px) {
}

@media screen and (min-width: 911.99px) and (max-width: 1199.98px) {
}



