/* Fonts */
@font-face {
  font-family: "Square One";
  src: url("../fonts/SquareOne.woff2") format("woff2"),
    url("../fonts/SquareOne.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Square One";
  src: url("../fonts/SquareOne-Bold.woff2") format("woff2"),
    url("../fonts/SquareOne-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.woff2") format("woff2"),
    url("../fonts/Roboto-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"),
    url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --var-name1: #003a6b;
  --var-name2: #2c5d87;
  --var-name3: #5880a2;
  --var-name4: #83a3be;
  --var-name5: #afc6d9;
  --var-name6: #dbe9f5;
  --var-mainfont: #0f0f0f;
  --header-height: 100px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: var(--var-mainfont);
  background-color: rgb(163, 163, 238);
  position: relative;
}

h1 {
  font-family: "Square One", sans-serif;
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
  color: var(--var-name2);
}

header > .container {
  display: flex;
  width: 100%;
  height: var(--header-height);
  justify-content: space-between;
  align-items: center;
  position: relative;
  gap: calc(0.02 * var(--header-height));
  padding: 0 calc(0.02 * var(--header-height));
  background-color: var(--var-name6);
}

header > .container h1 {
  font-size: 2rem;
  line-height: 100%;
  color: var(--var-name2);
}

header > .container img {
  /* display: block;
    height: 90%; */
  /* width: 50%; */
  height: calc(0.8 * var(--header-height));
}

header > .container img.burger-icon {
  height: calc(0.4 * var(--header-height));
}

nav {
  position: absolute;
  display: none;
  top: var(--header-height);
  background-color: var(--var-name2);
  filter: opacity(0.8);
  height: calc(100vh - var(--header-height));
  width: 100%;
  z-index: 1;
  /* height:100%; */
}

nav > ul {
  margin-left: 1rem;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

nav > ul > li {
  font-size: 3rem;
  font-family: "Roboto", sans-serif;
}

.fill-space {
  height: calc(100vh - var(--header-height));
  width: 100%;
  background-color: grey;
}

footer > .container {
  display: flex;
  flex-direction: column;
  height: 100px;
  background-color: var(--var-name2);
  padding: 20px 35px;
}

footer > .container p {
  color: var(--var-name5);
  font-size: 0.9rem;
}

p.credits {
  font-variant: small-caps;
  font-weight: bold;
  text-align: center;
}

.burgerShow {
  display: block;
  filter: opacity(0);
  transition: all 2s;
  backdrop-filter: blur(5px);
}

.burgerShow.burgerAnimationIn {
  filter: opacity(1);
}

.burgerAnimationOut {
  filter: opacity(1);
  /* transition: opacity 2s; */
}

.about .container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.about h1 {
  font-size: 3rem;
}

.presentation {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
}

.easy-photo {
  width: 125px;
  height: 125px;
  border-radius: 2px;
}

.team-photo {
  width: 125px;
  height: 125px;
  border-radius: 2px;
}

.presentation > h2 {
  color: var(--var-name4);
}

.presentation-text {
  margin: 1rem auto;
  padding: 0.5rem;
  width: 99%;
  height: 200px;
  color: var(--var-name1);
  box-shadow: #5880a2 0px 5px 15px;
}

.photo-team {
  display: flex;
  justify-content: space-around;
}

@media (min-width: 575.98px) {
  .about h1 {
    font-size: 4rem;
  }

  .easy-photo {
    width: 150px;
    height: 150px;
  }

  .presentation-text {
    width: 95%;
    overflow: scroll;
    overflow-x: hidden;
    color: var(--var-name1);
  }
}

@media (min-width: 767.99px) {
}

@media (min-width: 911.99px) {
}
